Repository Beats-Dh/OTClient, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Source, Area: Data, Area: Docker

Create CMakePresets.json
  CMakePresets.json
Labels: none

fix
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/content.yaml
  .github/workflows/analysis-codeql.yml
  Dockerfile
Labels: none

fixs
  .github/workflows/analysis-codeql.yml
  .github/workflows/analysis-sonarcloud.yml
  .github/workflows/build-ubuntu.yml
  Dockerfile
  ISSUE_TEMPLATE.md
  vcpkg.json
Labels: none

Update win32platform.cpp
  src/framework/platform/win32platform.cpp
Labels: Area: Source

Update win32platform.cpp
  src/framework/platform/win32platform.cpp
Labels: Area: Source

Update win32platform.cpp
  src/framework/platform/win32platform.cpp
Labels: Area: Source

update
  .github/ISSUE_TEMPLATE/content.yaml
  .github/ISSUE_TEMPLATE/i-want-to-help.md
  .github/ISSUE_TEMPLATE/missing-feature.md
  .github/ISSUE_TEMPLATE/missing-wrong-content.md
  .github/ISSUE_TEMPLATE/request.yaml
  .github/workflows/analysis-reviewdog.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  .github/workflows/issue.yml
  .github/workflows/tests-lua.yml
  CMakePresets.json
  CMakeSettings.json
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update cursors.otml
  data/cursors/cursors.otml
Labels: Area: Data

teste docker
  CMakePresets.json
  Dockerfile
Labels: none

teste docker
  CMakePresets.json
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update cursors.otml
  data/cursors/cursors.otml
Labels: Area: Data

update
  .github/workflows/analysis-sonarcloud.yml
  Dockerfile
  sonar-project.properties
Labels: none

.github/labeler.yml:

---
"Area: Source":
  - any: ['src/**/*']

"Area: Data":
  - any: ['data/**/*']

"Area: Docker":
  - any: ['docker/**/*']
